<html>
<head>
<script type="text/javascript">
function Text(sName)
{
	document.getElementById("test").innerHTML="当前正在测试访问网页的人是:" + sName;

}
</script>
</head>
<body>
<!-- <p id="test">
	{% if oTestData.GetName() %}
		Hello, {{oTestData.GetName()}}
	{% else %}
		Hello, Stranger!
	{% endif %}
</p>
{% import 'macros.html' as macros %}
<ul>
	{% for num in oTestData.GetListNum() %}
		{{macros.RandomNum(num)}}
	{% endfor %}
</ul>

<button type="button" onclick="Text('{{oTestData.GetName()}}')">点击测试 -->
<div id="Layer1" style="position:absolute; width:100%; height:100%; z-index:-1">    
<img src="{{ url_for('static', filename='images/ck_mm.jpg') }}" height="100%" width="100%"/>
</div>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_32x32">
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_tqq"></a>
	<a class="jiathis_button_weixin"></a>
	<a class="jiathis_button_renren"></a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
</button>
</body>
</html>
